/* CSS variables for theme colors */

:root {
    --bg-dark: #121212;
    --bg-light: #F4F4F4;

    --text-dark: #FFFFFF;
    --text-light: #1F2937;

    --header-bg: #6943FF;

    --card-bg-dark: #1e1e1e;
    --card-bg-light: #FFFFFF;

    --text-secondary-dark: #D1D5DB;
    --text-secondary-light: #4B5563;

    --accent-dark: #CCC1FF;
    --accent-light: #5A55E0;

    --border-dark: #B295FF;
    --border-light: #D1D5DB;

    --icon-fill-dark: #A5B4FC;
    --icon-fill-light: #4F46E5;

    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
    -o-transition-speed: 0.3s;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 1.25rem;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: var(--bg-dark);
    color: var(--text-dark);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

/* theme styles */

body.light-mode {
    --bg: var(--bg-light);
    --text: var(--text-light);
    --card-bg: var(--card-bg-light);
    --text-secondary: var(--text-secondary-light);
    --accent: var(--accent-light);
    --border: var(--border-light);
    --icon-fill: var(--icon-fill-light);
}

body.dark-mode {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
    --card-bg: var(--card-bg-dark);
    --text-secondary: var(--text-secondary-dark);
    --accent: var(--accent-dark);
    --border: var(--border-dark);
    --icon-fill: var(--icon-fill-dark);
}


